:root {
    --color1: #faf6da;
    --color2: #283618;
    --color3: #606c38;
    --color4: #dda15e;
    --color5: #bc6c25;
    --min-width: 300px;
    --transition-width: 500px;

    --navbar-width: 70px;
    --navbar-offset:3vw;
    --accent-stripe-width: 3vw;
    --navbar-gutter-size: calc(var(--navbar-offset)*2 + var(--navbar-width));
    --total-gutter-size: calc(var(--navbar-offset)*2 
                          + var(--navbar-width) 
                          + var(--accent-stripe-width));
  }

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--color1);
    margin:0px;
    overflow-x: hidden;
}

#intro {
  background-color: var(--color3);
  position:relative;
  width: 100%;
  min-height:99.4vh;
  box-sizing: border-box;
  min-width: var(--min-width);
  display:flex;
  z-index: 0;
  border-top: 1vh solid var(--color4);
  border-bottom: 1vh solid var(--color4);
  border-radius: 10vh;
}

/* portion to left of portrait*/
.left-block {
  margin:auto;
  text-align: center;
  width:30vw;
  height:30vh;
  
}

.headline {
  color: #dda15e;
  font-variant: small-caps;
  text-align: left;
  font-size: 36pt;
  margin-bottom: 10px;
}

/* icons below headline*/
#sm-div {
  color:var(--color5);
  outline: var(--color4);
  margin:auto;
  text-align: left;
}

.social-media a {
  text-decoration: none;
  color: var(--color4);
  transition: all .3s;
}
.social-media a:hover {
  color: var(--color5);
}

.circle-portrait {
  border-radius: 50%;
  border-top-right-radius: 20%;
  margin:auto;
}

/* nav on right side */
#right-stripe {
  background-color: var(--color3);
  height:100%;
  width: var(--navbar-gutter-size);
  position:fixed;
  right:0px;
  top:0;
  z-index: -2;
}

#right-stripe2 {
  background-color: var(--color4);
  height:100%;
  width: var(--accent-stripe-width);
  position:fixed;
  right: calc(var(--navbar-offset)*2 + var(--navbar-width));
  top:0;
  z-index:-1;
}

navbar {
  position:fixed;
  bottom:10px;
  right: var(--navbar-offset);
  width: var(--navbar-width);
  display:flex;
  align-items: center;
  background-color: var(--color2);
  border-radius: 25px;
  z-index: 5000;
}

navbar ul li {
  position: relative;
  left:-20px;
  list-style: none;
  width:var(--navbar-width);
  z-index: 1;
}

navbar ul li a {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:var(--color4);

}

navbar ul li a .icon {
  line-height: 60px;
  font-size: 1.6em;
  text-align: center;
}

#about-icon{
  position: relative;
  left:3px;
}

#nav-marker {
  position:absolute;
  top: 14px;
  left:4px;
  width:37px;
  height: 37px;
  border-radius: 50%;
  border-top-right-radius: 5px;
  border: 12px solid var(--color5);
  outline: 6px solid var(--color3);
  background-color: var(--color5);
  visibility: hidden;
  transition: 1s;
}



/*What I'm proud of section*/

#projects-section {
  box-sizing: border-box;
  margin:none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position:relative;
  margin-right: var(--total-gutter-size);
  text-align: center;
  padding:2vw;
  border-bottom-right-radius: 2vw;
  background-color: var(--color1);
}

#project-btn-div {
  margin: 30px;
}

.btn {
  color: var(--color2);
  background-color: var(--color4);
  border-color: var(--color2);
  border-radius:15px;
  border-top-right-radius: 5px;
  font-size: 1.6em;
  transition: 1s;
}

.btn:hover {
  background-color: var(--color5);
}

.btn-active {
  background-color: var(--color5);
  color: var(--color1);
}

.grid {
  display: flex;
  height: 100%;
  overflow-y: auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: 1s;
}

.content {
  width: 15vw;
  width: 200px;
  height: 200px;
  background-color: var(--color5);
  border-radius: 50%;
  border-top-right-radius: 15px;
  margin: 10px;
  transition: all .3s;
  border:3px solid var(--color4);
}

.content:hover {
  background-color: var(--color4);
}

.content-active {
  outline:5px solid var(--color3);
}

#about-section {
  position:relative;
  left: 0;
  width: calc(100% - var(--navbar-gutter-size));
  height: 100vh;
}

#about-section {
  top:0px;
  left:0px;
  width:calc(100% - var(--total-gutter-size));
  height:99.4vh;
  background-color: var(--color3);
  box-sizing: border-box;
  text-align: center;
  border-top: 1vh solid var(--color4);
  border-bottom: 1vh solid var(--color4);
  border-top-left-radius: 10vh;
  border-bottom-left-radius: 10vh;
}

#about-section h2 {
  width: 100%;
  height: 10vw;
  line-height: 10vw;
  max-width: 1000px;
  margin:auto;
  font-size: 3em;
  color: var(--color4)
}
.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 3px;
}


.about-me-content {
  text-align: left;
  background-color: var(--color5);
  border: 6px solid var(--color4);
  border-radius: 3vw;
  width: 45%;
  min-width: 340px;
}

.about-me-subheader {
  text-align: center;
} 

#background-section {
  top:0px;
  left:0px;
  width:calc(100% - var(--total-gutter-size));
  height:100vh;
  box-sizing: border-box;
  text-align: center;
}

.background-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 3px;
}

.background-content {
  text-align: left;
  background-color: var(--color5);
  border: 6px solid var(--color4);
  border-radius: 3vw;
  width: 45%;
  min-width: 340px;
}